@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --azul: #00aaff;
  --negro: #050505;
  --gris: #121212;
  --blanco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  background-color: var(--negro);
  color: var(--blanco);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}